{% extends 'base.html' %}

{% block home %}
<div class="hero">
  <div class="slides">
    <li data-bg-image="/static/images/slide-1.jpg">
      <div class="container">
        <div class="slide-content">
          <small class="slide-subtitle">Welcome to</small>
          <h2 class="slide-title">The Endtime Intercessors Fellowship</h2>

          <!-- <a href="#" class="button">See our ministries</a> -->
        </div>
      </div>
    </li>
  </div>
</div>

<main class="main-content">
  <div class="fullwidth-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title">Meditations</h2>
          <ul class="event-list">
            <li>
              <a href="#">
                <h3 class="event-title">who is the holy spirit</h3>
                <span class="event-meta">
                  <span><i class="fa fa-calendar"></i>4 mar 2022</span>
                <!-- {/*<span><i class="fa fa-map-marker"></i> Africa</span>*/} -->
                  <span><i class="fa"></i> Bro. Michael </span>

                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="event-title">Having the spirit of excellence</h3>
                <span class="event-meta">
                  <span><i class="fa fa-calendar"></i>30 mar 2014</span>
                  <span><i class="fa fa-map-marker"></i> Saint paul church</span>

                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="event-title">Intercession</h3>
                <span class="event-meta">
                  <span><i class="fa fa-calendar"></i>30 mar 2014</span>
                  <span><i class="fa fa-map-marker"></i> true church</span>

                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="event-title">Living a righteous life</h3>
                <span class="event-meta">
                  <span><i class="fa fa-calendar"></i>30 mar 2014</span>
                  <span><i class="fa fa-map-marker"></i> St cathedral</span>

                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="event-title">I bear the marks of Christ</h3>
                <span class="event-meta">
                  <span><i class="fa fa-calendar"></i>30 mar 2014</span>
                  <span><i class="fa fa-map-marker"></i> St cathedral</span>

                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="event-title">Abraham and Sarah's shortcut to God's will</h3>
                <span class="event-meta">
                  <span><i class="fa fa-calendar"></i>30 mar 2014</span>
                  <span><i class="fa fa-map-marker"></i> greenie lake</span>

                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="event-title">Faith</h3>
                <span class="event-meta">
                  <span><i class="fa fa-calendar"></i>30 mar 2014</span>
                  <span><i class="fa fa-map-marker"></i> Detroit city</span>

                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="event-title">Hope</h3>
                <span class="event-meta">
                  <span><i class="fa fa-calendar"></i>30 mar 2014</span>
                  <span><i class="fa fa-map-marker"></i> Detroit city</span>

                </span>
              </a>
            </li>
          </ul>

          <div class="text-center">
            <a href="#" class="button">See all from meditations</a>
          </div>
        </div>

        <div class="col-md-6">
          <h2 class="section-title">Studies</h2>
            <ul class="seremon-list">
              <li>
                <img src="/static/images/small-thumb-1.jpg" alt=""/>
                <div class="seremon-detail">
                  <h3 class="seremon-title"><a href="#">The book of Revellation</a></h3>
                  <div class="seremon-meta">
                    <div class="pastor"><i class="fa fa-user"></i> owusu michael</div>
                    <div class="date"><i class="fa fa-calendar"></i> 18 mar 2014</div>
                  </div>
                </div>
              </li>
              <li>
                <img src="/static/images/small-thumb-2.jpg" alt=""/>
                <div class="seremon-detail">
                  <h3 class="seremon-title"><a href="#">The gospel of John</a></h3>
                  <div class="seremon-meta">
                    <div class="pastor"><i class="fa fa-user"></i> John sammy </div>
                    <div class="date"><i class="fa fa-calendar"></i> 18 mar 2014</div>
                  </div>
                </div>
              </li>
              <li>
                <img src="/static/images/small-thumb-3.jpg" alt=""/>
                <div class="seremon-detail">
                  <h3 class="seremon-title"><a href="#">I am a new creature</a></h3>
                  <div class="seremon-meta">
                    <div class="pastor"><i class="fa fa-user"></i> ernest amoah</div>
                    <div class="date"><i class="fa fa-calendar"></i> 18 mar 2014</div>
                  </div>
                </div>
              </li>
              <li>
                <img src="/static/images/small-thumb-1.jpg" alt=""/>
                <div class="seremon-detail">
                  <h3 class="seremon-title"><a href="#">earthly pleasures</a></h3>
                  <div class="seremon-meta">
                    <div class="pastor"><i class="fa fa-user"></i> kwadwo amoah</div>
                    <div class="date"><i class="fa fa-calendar"></i> 18 mar 2014</div>
                  </div>
                </div>
              </li>
            </ul>

          <div class="text-center">
            <a href="#" class="button">See all studies</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
